@model ASProjectProjector.ViewModels.CreateCountyProjectViewModel

@{
    ViewData["Title"] = "Get Project Projection";
}

<br>
<h2>@ViewData["Title"]</h2>

<form asp-action="Save">
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <label asp-for="@Model.CountyProject.CodeName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="@Model.CountyProject.CodeName" class="form-control" />
                <span asp-validation-for="@Model.CountyProject.CodeName" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.CountyProject.FamilyName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="@Model.CountyProject.FamilyName" class="form-control" />
                <span asp-validation-for="@Model.CountyProject.FamilyName" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.CountyProject.EstimatedLengthInDays" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="@Model.CountyProject.EstimatedLengthInDays" class="form-control" />
                <span asp-validation-for="@Model.CountyProject.EstimatedLengthInDays" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.CountyProject.ProjectSqFt" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="@Model.CountyProject.ProjectSqFt" class="form-control" />
                <span asp-validation-for="@Model.CountyProject.ProjectSqFt" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.CountyProject.Active" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="@Model.CountyProject.Active" class="form-control" />
                <span asp-validation-for="@Model.CountyProject.Active" class="text-danger" />
            </div>
        </div>

        <!--project type dropdown-->
        <div class="form-group">
            <label asp-for="@Model.CountyProject.ProjectTypeId" class="col-md-2 control-label">Project Type</label>
                <div class="col-md-10">
                    @Html.DropDownList(
                        "CountyProject.ProjectTypeId", 
                        @Model.ProjectTypeId, 
                        new {
                            @class="ProjectTypeId form-control"
                        }
                    )
                    <span asp-validation-for="@Model.CountyProject.ProjectTypeId" />
                </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="save" class="btn btn-default"/>
            </div>
        </div>

    </div>
</form>