@model ASProjectProjector.ViewModels.ProjectDetailViewModel

<h2>@Html.DisplayFor(model => model.CountyProject.CodeName)</h2>
<br>
<h3>@Html.DisplayFor(model => model.ProjectType.Name)</h3>

<h4>Total Project Cost</h4>
<h4>@Html.DisplayFor(model => model.TotalProjectCost)</h4>
<br>

@foreach (var item in Model.MaterialList)
{
    <div class="row">
        <div class="col-md-3">@Html.DisplayFor(modelItem => item.Name)</div>
        <div class="col-md-3">@Html.DisplayFor(modelItem => item.CostSqFt)</div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
}

@foreach (var item in Model.AdditionalCosts)
{
    <div class="row">
        <div class="col-md-3">@Html.DisplayFor(modelItem => item.Description)</div>
        <div class="col-md-3">@Html.DisplayFor(modelItem => item.Amount)</div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
}

<br>
<hr>
@using (Html.BeginForm("Delete", "CountyProject"))
{
    <div class="form-group projdetbtn">
        <input type="submit" value="Delete" class="btn btn-default" />
    </div>
}

<form>
    <div class="form-group projdetbtn">
        <a asp-action="AddAdditionalCost" asp-route-returnurl="/Detail/${@Model.CountyProject.CountyProjectId}" asp-controller="AdditionalCost" class="btn btn-default">Add Cost</a>
    </div>
</form>


@if (@Model.CountyProject.Active) {
<form asp-action="Activate">
    <div class="form-group projdetbtn">
        <div>
            <input type="submit" value="Deactivate" class="btn btn-default" />
        </div>
    </div>
</form>

} else { 

<form asp-action="Activate">
    <div class="form-group projdetbtn">
        <div>
            <input type="submit" value="Activate" class="btn btn-default" />
        </div>
    </div>
</form>
}