@model ASProjectProjector.ViewModels.ProjectDetailViewModel

<h2>@Html.DisplayFor(model => model.CountyProject.CodeName)</h2>
<br>
<h3>@Html.DisplayFor(model => model.ProjectType.Name)</h3>

<h4>Total Project Cost</h4>
<h4>SqFt: @Html.DisplayFor(model => model.CountyProject.ProjectSqFt)</h4>
<h4>@Html.DisplayFor(model => model.TotalProjectCost)</h4>
<br>


@{var totalsqft = @Model.CountyProject.ProjectSqFt;}

@foreach (var item in Model.MaterialList)
{
    var totalCostSqFt = item.CostSqFt * totalsqft;
    <div class="row">
        <div class="col-md-3">@Html.DisplayFor(modelItem => item.Name)</div>
        <div class="col-md-3">@string.Format("{0:C}", totalCostSqFt)</div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
}

@foreach (var item in Model.CountyProject.AdditionalCosts)
{
    <div class="row">
        <div class="col-md-3">@Html.DisplayFor(modelItem => item.Description)</div>
        <div class="col-md-3">@Html.DisplayFor(modelItem => item.Amount)</div>
    </div>
}

<br>
<hr>

<form>
    <div class="form-group">
        <a asp-action="Delete" asp-controller="CountyProject" class="btn btn-default">Delete</a>
    </div>
</form>

<form>
    <div class="form-group">
        <a asp-action="Create" asp-route-id="@Model.CountyProject.CountyProjectId" asp-controller="AdditionalCost" class="btn btn-default">Add Cost</a>
    </div>
</form>

@if (@Model.CountyProject.Active) {
<form asp-action="Activate">
    <div class="form-group">
        <div>
            <input type="submit" value="Deactivate" class="btn btn-default" />
        </div>
    </div>
</form>

} else { 

<form asp-action="Activate">
    <div class="form-group">
        <div>
            <input type="submit" value="Activate" class="btn btn-default" />
        </div>
    </div>
</form>
}

<form>
    <div class="form-group">
        <a asp-action="Edit" asp-route-returnurl="/Detail/@Model.CountyProject.CountyProjectId" asp-controller="CountyProject" class="btn btn-default">Edit</a>
    </div>
</form>